$HOME/.config/coc/extensions/
###################
.DS_Store
.hg
.svn
.idea
.vscode
*.vscode
node_modules
###################
# Python files
.venv/
env/
__pycache__/
.pyc
static_collected/
# Temporary files
*.kate-swp
*.swp
*.swo
*~


